.sadPikachu {
    width: 50%;
    height: 50%;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.errorText {
    display: flex;
    justify-content: center;
}