.footer {
    background-color: #3c4041d1;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.footerPokeball {
    width: 8%;
    height: 2%;
}

.footerText {
    color: #fff;
    text-decoration: none;
}