.backgroundHeader {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: #ebf4f7;
}

.titleHeader {
    width: 100%;
    height: 10%;
    font-size: 50px;
    display: flex;
   justify-content: space-around;
    text-align: center;
    color: black;
    background-color: #2e97b7;
}

.logo {
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}